<form name="editWebsiteForm" novalidate>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Edit Company
            </a>
            <p class="navbar-text pull-right">
                <button ng-click="(submitted=true) && editWebsiteForm.$valid && model.updateWebsite(model.website)"
                        class="validationButton navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </p>
        </div>
    </div>
</nav>


<div class="container content">

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

        <div class="form-group">
            <label for="website-name">Company Name</label>
            <input type="text" class="form-control"
                   id="website-name"
                   name="websitename"
                   ng-model="model.website.name"
                   placeholder="Gizmodo"
                   required/>
            <div ng-show="editWebsiteForm.$submitted && editWebsiteForm.websitename.$invalid" class="elementErrorMsg">
                <span>*required field</span>
            </div>
        </div>
        <div class="form-group">
            <label for="website-desc">Company Description</label>
            <textarea id="website-desc"
                      class="form-control"
                      rows=4
                      ng-model="model.website.description"
                      placeholder="Description"></textarea>
        </div>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWebsite(model.website._id)">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row  navbar-footer">
            <div class="navbar-text pull-left">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
            <div class="navbar-text  pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

</form>

