<form name="newWebsiteForm" novalidate>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                New Website
            </a>
            <p class="navbar-text pull-right">
                <button ng-click="(submitted=true) && newWebsiteForm.$valid && model.createWebsite(website)" class="validationButton navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </p>
        </div>
    </div>
</nav>


<div class="container content">
        <div class="form-group">
            <label for="create-website-name">Name</label>
            <input type="text"
                   class="form-control"
                   name="websitename"
                   id="create-website-name"
                   ng-model="website.name"
                   placeholder="Gizmodo"
                   required>
         <div ng-show="newWebsiteForm.$submitted && newWebsiteForm.websitename.$invalid" class="elementErrorMsg">
             <span>*required field</span>
         </div>
        </div>
        <div class="form-group">
            <label for="create-website-desc">Description</label>
            <textarea id="create-website-desc"
                      name="websitedesc"
                      class="form-control"
                      rows=4
                      ng-model="website.description"
                      placeholder="Description"></textarea>
        </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-footer">
            <div class="text-center navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</form>