<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="website-new.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                Gizmodo
            </a>
            <div class="pull-right">
                <a href="../website/website-edit.view.client.html">
                    <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                Facebook
            </a>
            <div class="pull-right">
                <a href="../website/website-edit.view.client.html" >
                    <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                Youtube
            </a>
            <div class="pull-right">
                <a href="../website/website-edit.view.client.html" >
                    <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <a href="../page/page-list.view.client.html">
                Google
            </a>
            <div class="pull-right">
                <a href="../website/website-edit.view.client.html"  >
                    <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-footer ">
            <div class="navbar-text text-center pull-right">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>