.ng-submitted input.ng-invalid {
    background-color: rgba(250, 166, 146, 0.57);
}

.elementErrorMsg{
    margin-top: -5px;
    margin-bottom: 5px;

}

.elementErrorMsg > span{
    color: #b60a17;
}

.validationButton {
    border: none;
    background: none;
    outline: none;
}
