input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;

}


.container-fluid > .navbar-header {
    margin-left: -5px;
    margin-right: -3px;
    float: none;
}




.navbar-brand {
    margin-left: -5px;
    font-weight: bold;
}

.navbar-text {
    float: none;
}

.navbar-footer {
    margin-left: -5px;
    margin-right: -3px;
}

.content {
    margin-top: -10px;
    margin-bottom: 70px;
}

.section-heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}

.widget {
    padding-top: 5px;
}
.widget-settings {
    position: absolute;
    right: 0;
    background-color: white;
    padding: 2px;
    opacity: 0.8;
    border-bottom-left-radius: 5px;

}

.image {
    padding-top: 5px;
    padding-bottom: 5px;
}

#imagefile-input::-webkit-file-upload-button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
}

.navbar-link > .glyphicon {
color: rgb(58, 58, 58);
}