body {
    background-color: #ebebeb;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
}

input.form-control {
    margin-bottom: 5px;
}

.container > .navbar-header {
    margin-left: -5px;
    margin-right: -3px;

}


.container-fluid > .navbar-header {
    margin-left: -5px;
    margin-right: -3px;

}

.mobile-nav .container-fluid > .navbar-header {
    margin-left: -5px;
    margin-right: -3px;
    float: none;

}


.navbar {
    background-color: rgba(51, 122, 183, 0.82);
}

.navbar .glyphicon{
    color: #eaeaea;
}

.navbar .navbar-brand{
    color: #eaeaea;
}


.navbar-brand {
    margin-left: -5px;
    font-weight: bold;
}

.navbar-text {
    float: none;
}



.navbar-default .navbar-nav li>a{
    color: rgba(250, 255, 248, 0.96);
    font-family: Arial, sans-serif;
    font-weight: bolder;

}

.navbar-default .navbar-nav .dropdown-menu>li>a {
    color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: black;
}

.navbar-default .navbar-nav li>a:hover{
    color: rgba(255, 247, 255, 0.96);

}

.navbar-default .navbar-nav li>a:active{
  font-size: larger;

}

.navbar-footer {
    margin-left: -5px;
    margin-right: -3px;
}

.content {
    margin-top: 60px;
    margin-bottom: 70px;
}

.section-heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}


.image {
    padding-top: 5px;
    padding-bottom: 5px;
}

#imagefile-input::-webkit-file-upload-button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
}


.navbar-inverse {
    background-color: #4580cd;

}

.navbar-inverse .glyphicon{
   color: white;

}

.navbar-inverse .navbar-brand {
    color: white;
}

.cursor-hand{
    cursor: pointer;
}



.dropdown-menu .glyphicon {
    margin-left: 20px;
    color: black;
}

.dropdown-menu a{
    cursor: pointer;
}

.mapsSearchButton {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px;
    height: 50px;
}

.mapsAddButton {
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 4px;
    height: 30px;
}

.dropdown-menu > li a:hover {
    background-color: rgba(101, 224, 117, 0.37);
}

.input-hidden {
   visibility: hidden;
}

hr {border-color:#ececec;}
button {
    outline: 0;
}
textarea {
    resize: none;
    outline: 0;
}
.panel .btn i,.btn span{
    color:#666666;
}

.panel {
    border: none;
    border-radius: 0 !important;

}

.panel.panel-shadow{
    -webkit-box-shadow: -2px 0px 37px -10px rgba(15,2,15,1);
    -moz-box-shadow: -2px 0px 37px -10px rgba(15,2,15,1);
    box-shadow: -2px 0px 37px -10px rgba(15,2,15,1);
}

.panel .panel-heading {
    background-color: #f9fbaa;
    font-weight:800;
    font-size:16px;
    color:#262626;
    border-color:#ffffff;
    border-radius: 0 !important;
}

.panel .panel-heading.inner-panel {
    font-size:10px;
    background-color: rgba(55, 131, 46, 0.22);
    color: #262626;
    border-color: #cdcdcd;
    padding: 0;
    border-radius: 0 !important;
}

.panel .panel-heading a {
    font-weight:400;
    font-size:11px;
}
.panel .panel-heading.edit{
    height: 50px;
}

.panel .panel-default {
    border-color:#cccccc;
}
.panel .panel-thumbnail {
    padding:0;
}

.navbar .glyphicon.glyphicon-check {
    font-size: 18px;
}

.form-entry {
margin-bottom: 15px;

}

.panel-heading.High{
    background-color: rgba(205, 10, 26, 0.49);
}

.panel-heading.Medium{
    background-color: rgba(248, 106, 45, 0.49);
}

.panel-heading.Low{
    background-color: rgba(214, 254, 157, 0.41);
}

.panel-footer {
   height: 30px;
}

blockquote {
    background: #e7e7e7;
    border-left: 10px solid #262626;
    padding: 2px 10px;

}

blockquote.selfLocPosts {
    border-left: 10px solid rgba(55, 131, 46, 0.7);
}

blockquote.friendsLocPosts {
    border-left: 10px solid rgba(143, 133, 254, 0.84);
}

blockquote.othersLocPosts {
    border-left: 10px solid rgba(209, 162, 64, 0.71);
}


blockquote p {
    display: inline;
}

.nav.nav-tabs>li>a {
    position: relative;
    display: block;
    padding: 2px 5px;
    font-size: 15px;
}

.table-input {
    width: 100px;
}

table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

td a {
    padding:5px;
    cursor: pointer;
    text-decoration: none;
    text-underline: none;
    text-outline: none;
}

td a:focus, a:hover {
    text-decoration: none;
}

.glyphicon.glyphicon-remove {
    color: darkred;
}


.bottom-sm-space {
    margin-bottom: 2px;
}

.bottom-md-space {
    margin-bottom: 5px;
}

.bottom-lg-space {
    margin-bottom: 10px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.home-links {
    font-weight: 800;
    color: black;
}

.home-text-1 {
    font-size: 30px;
    font-weight: 700;
    color: rgba(55, 131, 46, 0.84)
}

.home-text-2 {
    font-size: 25px;
    font-weight: 500;
    color: chocolate;
}

.home-text-3 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(67, 126, 133, 0.93)
}

.home-text-4 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(131, 16, 18, 0.87);
    margin-top: 20px
}

.home-text-5 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(29, 153, 13, 0.95)
}

.home-text-6 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(222, 124, 31, 0.94);
    margin-bottom: 50px
}

