<form name="editPageForm" novalidate>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <button ng-click="(submitted=true) && editPageForm.$valid && model.updatePage(model.page)" class="validationButton navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </p>
        </div>
    </div>
</nav>


<div class="container content">
        <div class="form-group">
            <label for="edit-page-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="edit-page-name"
                   name="pagename"
                   placeholder="Page Name"
                   ng-model="model.page.name"
                   value="Page-Content"
                   required/>
            <div ng-show="editPageForm.$submitted && editPageForm.pagename.$invalid" class="elementErrorMsg">
                <span>*required field</span>
            </div>
        </div>
        <div class="form-group">
            <label for="create-page-title">Title</label>
            <input type="text"
                   class="form-control"
                   id="create-page-title"
                   ng-model="model.page.title"
                   placeholder="Page Title">
        </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deletePage(model.page._id)">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text navbar-footer">
            <div class="text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</form>

