<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../website/website-list.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Page-Content
            </a>
            <a href="../page/page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Home
            </a>
            <a href="../page/page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
               About Us
            </a>
            <a href="../page/page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Contact
            </a>
            <a href="../page/page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>