<form name="newPageForm" novalidate>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                New Page
            </a>
            <p class="navbar-text pull-right">
                <button ng-click="(submitted=true) && newPageForm.$valid && model.createPage(page)" class="validationButton navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </p>
        </div>
    </div>
</nav>


<div class="container content">
        <div class="form-group">
            <label for="create-page-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="create-page-name"
                   name="pagename"
                   ng-model="page.name"
                   placeholder="Page Name"
                   required>
            <div ng-show="newPageForm.$submitted && newPageForm.pagename.$invalid" class="elementErrorMsg">
                <span>*required field</span>
            </div>
        </div>
        <div class="form-group">
            <label for="create-page-title">Title</label>
            <input type="text"
                   class="form-control"
                   id="create-page-title"
                   ng-model="page.title"
                   placeholder="Page Title">
        </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        Error Page Creation !
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row  navbar-footer">
            <div class="navbar-text text-center pull-right ">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</form>