<form name="editPageForm" novalidate>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <button ng-click="(submitted=true) && editPageForm.$valid && model.updatePage(model.page)" class="validationButton navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </p>
        </div>
    </div>
</nav>


<div class="container content">
        <div class="form-group">
            <label for="edit-page-SLNO">SL NO</label>
            <input type="text"
                   class="form-control"
                   id="edit-page-SLNO"
                   name="SLNO"
                   placeholder="SL NO"
                   ng-model="model.page.SlNo"
                   required>
            <div ng-show="editPageForm.$submitted && editPageForm.pagename.$invalid" class="elementErrorMsg">
                <span>*required field</span>
            </div>
        </div>
    <div class="form-group">
        <label for="description">Order Description</label>
        <input type="text"
               class="form-control"
               id="description"
               ng-model="model.page.description"
               placeholder="Order Description"
               required>
        <div ng-show="newPageForm.$submitted && newPageForm.pagename.$invalid"
             class="elementErrorMsg">
            <span>*required field</span>
        </div>
    </div>

    <div class="form-group">
            <label for="diameter-edit">Diameter</label>
            <input type="text"
                   class="form-control"
                   id="diameter-edit"
                   ng-model="model.page.diameter"
                   placeholder="Diameter">
        </div>
    <div class="form-group">
        <label for="Cloth Desc">Cloth Description</label>
        <input type="text"
               class="form-control"
               id="Cloth Desc"
               ng-model="model.page.clothdesc"
               placeholder="Description">
    </div>
    <div class="form-group">
        <label for="Color">Color</label>
        <input type="text"
               class="form-control"
               id="Color"
               ng-model="model.page.color"
               placeholder="Color">
    </div>
    <div class="form-group">
        <label for="Act-Wt">Actual Weight</label>
        <input type="text"
               class="form-control"
               id="Act-Wt"
               ng-model="model.page.actualWeight"
               placeholder="Actual Weight">
    </div>
    <div class="form-group">
        <label for="PDC-Wt">PDC Weight</label>
        <input type="text"
               class="form-control"
               id="PDC-Wt"
               ng-model="model.page.pdcWeight"
               placeholder="PDC Weight">
    </div>
    <div class="form-group">
        <label for="Act Rolls">Actual Rolls</label>
        <input type="text"
               class="form-control"
               id="Act Rolls"
               ng-model="model.page.actualRolls"
               placeholder="Actual Rolls">
    </div>
    <div class="form-group">
        <label for="PDC Rolls">PDC Rolls</label>
        <input type="text"
               class="form-control"
               id="PDC Rolls"
               ng-model="model.page.pdcRolls"
               placeholder="PDC Rolls">
    </div>
    <div class="form-group">
        <label for="UOM">UOM</label>
        <input type="text"
               class="form-control"
               id="UOM"
               ng-model="model.page.uom"
               placeholder="UOM">
    </div>
    <div class="form-group">
        <label for="Remarks">Remarks</label>
        <input type="text"
               class="form-control"
               id="Remarks"
               ng-model="model.page.Remarks"
               placeholder="Remarks">
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deletePage(model.page._id)">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text navbar-footer">
            <div class="text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</form>

