 <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
 </style>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWOdGhVLsulyv7UixqXi2QwBuCjrqxUsg&libraries=geometry"></script>

<h1>isLocationOnEdge Test</h1>
 <input id="poly" type="text" ng-model="model.poly"/>
<input id="latlng" type="text" value="waiting for values"/>
<div id="map"></div>
{{model}}
 <script>

     IsLocationInPolyline();
 </script>
