<style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            position: absolute;
            height: 100%;
            width : 100%
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        .search-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 250px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
</style>

<nav class="mobile-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/location" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Add Location
            </a>
        </div>
    </div>
</nav>

<form name="addLocationForm" novalidate>
    <div class="container-fluid" style="position: absolute; left:0 ; top: 50px; z-index: 1">
        <div class="row">
        <div ng-if="model.error" class="alert alert-danger" role="alert">
               {{model.error}}
        </div>

        <div class="col-sm-6">
        <input id="pac-input"
               class="search-input controls"
               type="text"
               placeholder="Enter a location"
               ng-model="model.location.name"
               required/>
        </div>

        <div class="col-sm-6">
        <input id="opt-loc-name"
               class="search-input controls"
               type="text"
               placeholder="Marker's Alternate LocName"
               ng-model="model.location.optname"/>
        </div>
        </div>

        <div class="row">
        <div class="col-sm-4">
                <button id="add"
                        class="btn btn-success mapsAddButton"
                        ng-click="(submitted=true) && addLocationForm.$valid && model.createLocation(model.location)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Add
                </button>
        </div>
        </div>
        <div ng-show="addLocationForm.$submitted && addLocationForm.$invalid" class="directionsErrorMsg">
            <span>*Select a location to add</span>
        </div>
    </div>

    <div style="display: none" id="loc-variables">
            <input id="lat"
                   type="text"
                   class="input-hidden"
                   ng-model="model.location.lat">
            <input id="lng"
                   type="text"
                   class="input-hidden"
                   ng-model="model.location.lng">
            <input id="city"
                   type="text"
                   class="input-hidden"
                   ng-model="model.location.city">
            <input id="state"
                   type="text"
                   class="input-hidden"
                   ng-model="model.location.state">
            <input id="country"
                   type="text"
                   class="input-hidden"
                   ng-model="model.location.country">
    </div>
</form>





<div id="map" ></div>

<script>
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
    initAddlocation();
</script>