<div class="container content">
    <h2>Register</h2>
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   id="username"
                   ng-model="user.username"
                   placeholder="username">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   id="password"
                   ng-model="user.password"
                   placeholder="password">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   id="verifypassword"
                   ng-model="user.verifypassword"
                   placeholder="verify password">
        </div>
    </form>


    <a class="btn btn-primary btn-block"
       ng-click="model.createUser(user)">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
</div>