<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid content">

    <div ng-repeat="widget in model.widgets" class="widget-section">
        <div class="widget-settings">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{widget.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADER" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>
            <div class="widget" ng-switch-when="HTML">
                <div ng-bind-html="model.getSafeHtml(widget)"></div>
            </div>
            <div class="widget" ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>
            <div class="widget" ng-switch-when="YOUTUBE">
                <iframe width="{{widget.width}}" ng-src="{{model.getSafeUrl(widget)}}" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <div ng-switch-default>
                Widget Render Error!
            </div>
        </div>
    </div>

    <!--  <div class="widget-section">
          <div class="widget-settings">
              <a href="widget-heading.view.client.html">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <span class="glyphicon glyphicon-align-justify"></span>
          </div>
          <div class="section-heading">The Best Music Apps You've (Probably) Never Heard Of</div>
      </div>

      <div class="widget-section">
          <div class="widget-settings">
              <a href="widget-image.view.client.html">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <span class="glyphicon glyphicon-align-justify"></span>
          </div>
          <img class="img-responsive image" src="https://i.kinja-img.com/gawker-media/image/upload/idbz86l18griutklrn9p.JPG" />
      </div>

      <div class="widget-section">
          <div class="widget-settings">
              <a href="#">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <span class="glyphicon glyphicon-align-justify"></span>
          </div>
          <p>Spotify, Apple Music, Google Play Music, blah blah blah... change the record, can’t you? Stand out from the crowd by using one of these lesser-known jukebox apps to listen to your tunes on your smartphone...</p>
      </div>

      <div class="widget-section">
          <div class="widget-settings">
              <a href="widget-heading.view.client.html">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <span class="glyphicon glyphicon-align-justify"></span>
          </div>
          <div class="section-heading">Meet the Biggest Dinosaur Ever on Display</div>
      </div>

      <div class="widget-section">
          <div class="widget-settings">
              <a href="widget-youtube.view.client.html">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <span class="glyphicon glyphicon-align-justify"></span>
          </div>
          <iframe class="img-responsive" src="https://www.youtube.com/embed/LO3kLNt_tHY" frameborder="0" allowfullscreen></iframe>

      </div>

      <div class="widget-section">
          <div class="widget-settings">
              <a href="#">
                  <span class="glyphicon glyphicon-cog"></span>
              </a>
              <span class="glyphicon glyphicon-align-justify"></span>
          </div>
          <p>The American Museum of Natural History revealed the Titanosaur - the largest dino to ever be seen.</p>
      </div>-->
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row  navbar-footer">
            <div class="navbar-text pull-left">
                <a href="" class="navbar-link  col-xs-1">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                <a href="" class="navbar-link col-xs-1">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
            <div class="navbar-text  pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>