<form id="imageEditForm" role="form" onsubmit="submitForm(this, event)" method="post" enctype="multipart/form-data">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div class="form-group">
        <label for="widget-img-name">Name</label>
        <input type="text"
               class="form-control"
               ng-model="model.widget.name"
               id="widget-img-name">
    </div>
    <div class="form-group">
        <label for="widget-img-text">Text</label>
        <input type="text"
               class="form-control"
               ng-model="model.widget.text"
               id="widget-img-text">
    </div>
    <div class="form-group">
        <label for="widget-img-url">URL</label>
        <input type="text"
               class="form-control"
               ng-model="model.widget.url"
               id="widget-img-url">
    </div>

    <div class="form-group">
        <label for="widget-img-width">Width</label>
        <input type="text"
               class="form-control"
               ng-model="model.widget.width"
               id="widget-img-width">
    </div>

<!--    <div class="form-group">
        <label for="imagefile-input">Upload</label>
        <input type="file" class="form-control" id="imagefile-input"/>
    </div>-->

    <div class="form-group">
        <label for="imagefile-input">Upload</label>
        <input  name="myFile" type="file" id="imagefile-input" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="userId"    value="{{model.userId}}" style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload The Image</button>
    </div>


    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget(model.widget._id)">Delete</a>
</form>