<form id="widgetEditForm" name="widgetEditForm" novalidate>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div class="form-group">
        <label for="widget-ytube-name">Name</label>
        <input type="text"
               class="form-control"
               ng-model="model.widget.name"
               id="widget-ytube-name"
               required>
        <div ng-show="model.inputmsg" class="elementErrorMsg">
            <span>*required field</span>
        </div>
    </div>
    <div class="form-group">
        <label for="widget-ytube-text">Text</label>
        <input type="text"
               class="form-control"
               ng-model="model.widget.text"
               id="widget-ytube-text">
    </div>
    <div class="form-group">
        <label for="widget-ytube-url">URL</label>
        <input type="text"
               class="form-control"
               id="widget-ytube-url"
               ng-model="model.widget.url">
    </div>

    <div class="form-group">
        <label for="widget-ytube-width">Width</label>
        <input type="text"
               class="form-control"
               id="widget-ytube-width"
               ng-model="model.widget.width">
    </div>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget(model.widget._id)">Delete</a>
</form>
