<form>
    <div class="form-group">
        <label for="widget-img-name">Name</label>
        <input type="text"
               class="form-control"
               id="widget-img-name"
               ng-model="model.widget.name">
    </div>

    <div class="form-group">
        <label for="widget-head-text">Text</label>
        <input type="text"
               class="form-control"
               id="widget-head-text"
               ng-model="model.widget.text">
    </div>
    <div class="form-group">
        <label for="widget-head-size">Size</label>
        <select class="form-control"
                id="widget-head-size"
                ng-model="model.widget.size">
            <option ng-selected="model.widget.size == 1" value="1">1</option>
            <option ng-selected="model.widget.size == 2" value="2">2</option>
            <option ng-selected="model.widget.size == 3" value="3">3</option>
            <option ng-selected="model.widget.size == 4" value="4">4</option>
            <option ng-selected="model.widget.size == 5" value="5">5</option>
            <option ng-selected="model.widget.size == 6" value="6">6</option>
        </select>
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget(model.widget._id)">Delete</a>
</form>