<nav class="mobile-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                My Locations
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/location/addlocation" class="navbar-link ">
                 <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid content">

   <!-- <ul class="list-group">
        <li ng-repeat="location in model.locations" class="list-group-item">
            <a href="#/user/{{model.userId}}/location/{{location._id}}/post">
                {{location.name}}
            </a>
            <div class="pull-right">
                <a href="#/user/{{website._user}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog"></span><span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </li>
    </ul>-->
    <div class="row">
        <div ng-repeat="location in model.locations"  class="col-xs-12 col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{location.name}}
                </div>
                <div class="panel-body">

                    <a href="#/user/{{model.userId}}/location/{{location._id}}/locpost">Location Posts</a>
                    <a class="pull-right" href="#/user/{{model.userId}}/location/{{location._id}}#top" >Edit Location</a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-footer pull-right">
            <div class=" navbar-text text-center">
                <a href="#/user">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
        </div>
    </div>
</nav>