<nav class="mobile-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/location" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                My Location Posts
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/location/{{model.locId}}/locpost/addlocationpost" class="navbar-link ">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid content">

    <div class="row">
        <div ng-repeat="locationPost in model.locationPosts"  class="col-md-4">
            <div class="panel panel-shadow panel-info">
                <div class="panel-heading">
                   <p>
                       {{locationPost._location.name}}
                   </p>
                </div>
                <div class="panel-body" ng-class="locationPost.severity">
                    <p><b>Traffic Type</b> {{locationPost.trafficType}}</p>
                    <p><b>Severity</b> {{locationPost.severity}}</p>
                    <a class="btn btn-danger pull-right"
                       ng-click="model.deleteLocationPost(locationPost._id)">Delete</a>

                </div>
                <div class="panel-footer">
                    <p class="pull-right" style="font-size: 10px; font-weight: bolder">
                        {{locationPost.dateCreated | date: "medium" }}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-footer pull-right">
            <div class=" navbar-text text-center">
                <a href="#/user">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
        </div>
    </div>
</nav>